body{
    font-family: 'Inter UI' , 'Roboto' , sans-serif !important;
}

.body-content{
}

.form-box{
    margin: auto;
    width: 300px !important;
}

.icon-btn{
    margin-right: 10px;
    vertical-align:middle;
    
}

.clear{
  margin-bottom:1rem;
}

.icon-btn-m{
  margin-right: 10px;
  vertical-align:middle;
  margin-bottom : 6px;
}
.icon-btn-s{
  margin-right: 0.5rem;
  
}

.is-side-bar{
    margin-left:1rem;
    border-right : 1px solid lightgrey;
  }

  .columns.is-fullheight {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    
  }
  .columns.is-fullheight .column {
    overflow-y: auto;
  }
  
  .is-main-content{
    margin : 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  
  .logout-btn{
      margin-top:5px;
  }

  .modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }
       
.form-contact label{
  margin-top:15px;
}
.address-form .label{
  margin-top:15px;
}

.buttons a{
  padding-right: 1rem;
}

.snackbar{
  min-width: 250px;
  margin-left: -125px;
  position: fixed;
  z-index: 9999999  ;
  left: 50%;
  top:100px;
}

.snackbar-c{
  width: 250px;
  position: fixed;
  z-index: 9999999  ;
  left: 50%;
  right: 50%;
  margin: 0 auto;
  margin-top:100px;
}