body{
    font-family: 'Inter UI' , 'Roboto' , sans-serif !important;
}

.body-content{
}

.form-box{
    margin: auto;
    width: 300px !important;
}

.icon-btn{
    margin-right: 10px;
    vertical-align:middle;
    
}


.icon-btn-m{
  margin-right: 10px;
    vertical-align:middle;
  margin-bottom : 6px;
}
.is-side-bar{
    margin-left:1rem;
    border-right : 1px solid lightgrey;
  }

  .columns.is-fullheight {
    min-height: 100vh;
    max-height: 100vh;
    height: 100vh;
    
  }
  .columns.is-fullheight .column {
    overflow-y: auto;
  }
  
  .is-main-content{
    margin : 1rem;
    margin-left: 1rem;
    margin-bottom: 0;
  }
  
  .user-prof{
    
  }

  .logout-btn{
      margin-top:5px;
  }

  .modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }
       
.form-contact label{
  margin-top:15px;
}
.address-form .label{
  margin-top:15px;
}

