.is-side-bar{
    display: none;
}

.is-main-content .navbar{
    display: none;

}
@page {
    margin-top: 0;
    margin-bottom: 0;
  }
  body  {
    padding-top: 72px;
    padding-bottom: 72px ;
  }