<section class="columns is-fullheight">
		<as ide class="column main-side aside hero is-2 is-fullheight nav">
			<div class="brand is-size-1">
				<a href="{{url_for('index')}}"><div class="brand-logo"></div></a>
			</div>
			<div class="menu sidenav is is-size-4">
				<ul class="menu-list animated fadeIn">
				</ul>
			</div>
			<div class="menu-btm is-fixed-bottom animated fadeInUp ">
				<p class="is-size-4 ">Hi, {{user.title()}}</p>

				<br>
				<a href="/logout"><button class="button is-black is-fullwidth ">					    	<i data-feather="log-out"></i>
Logout</button></a>
			</div>
		</aside>
		<aside class="main-content column">
			<nav class="navbar">
				<div  style="width: 99%">
			    <input class="i-in is-medium is-size-5" style="width: 100%;" type="email" placeholder="Search Logs">
				</div>
			</nav>
			<div class="xcontent">
			{% block content%}
			{% endblock %}
		</div>
		</aside>
	</section>
