{% extends 'basic_master_block.html' %}

{% block block_title%}
Communication Channels
{% endblock %}

{% block block_data_display %}
    Current Communication Channels
{% endblock %}

{% block onclick %}showData_d{% endblock %}
{% block data_display %}data_display_d {% endblock %}

<!-- Data entry block -->
{% block form_content %}
    {{form_comm.hidden_tag()}}
    <p class="control is-expanded">{{form_comm.channel(class="input" , placeholder = "Enter New Communication Channel")}}</p>
    <br>
{% endblock %}

{% block table_h_content%}
    <th>ID</th>
    <th>Communication Channel</th>
{% endblock %}

{% block table_d_content %}
{% for l in commlist %}
    <tr>
        <!-- Data Rows -->
        <td>{{l.id}}</td>
        <td>{{l.channel}}</td>
    </tr>
{% endfor %}    

{% endblock %}
{% block action_buttons %}
<p class="control"><button class="button is-black" onclick="showData_d()"><i class="icon-btn" data-feather="eye"></i>View Data</button></p>
<p class="control"><button class="button is-black"><i class="icon-btn" data-feather="eye"></i>Delete Data</button></p>
{% endblock %}