{% extends 'base.html' %}
{% block content %}
    <style>
            input[type="radio"], .tab-pane { display: none; }

            /* the magic */
            #a:checked ~ .tab-content > .content-a,
            #b:checked ~ .tab-content > .content-b,
            #c:checked ~ .tab-content > .content-c,
            #d:checked ~ .tab-content > .content-d,
            #e:checked ~ .tab-content > .content-e,
            #f:checked ~ .tab-content > .content-f,
            #g:checked ~ .tab-content > .content-g,
            #h:checked ~ .tab-content > .content-h{
              display: block;
            }

    </style>
    <div class="navbar ">
        <p class=" is-size-4 has-text-weight-bold animated fadeIn">Basic Master </p>
    </div>
    <br>
    <div class="body-actions">
        <input type="radio" checked="{% if session['is_checked'] == 'a' %}checked{% endif %}" id="a" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'b' %}checked{% endif %}" id="b" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'c' %}checked{% endif %}" id="c" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'd' %}checked{% endif %}" id="d" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'e' %}checked{% endif %}" id="e" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'f' %}checked{% endif %}" id="f" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'g' %}checked{% endif %}" id="g" name="nav-tab">
        <input type="radio" checked="{% if session['is_checked'] == 'h' %}checked{% endif %}" id="h" name="nav-tab">

        <div class="tabs">
        <ul>
            <li><label for="a"><a>Product Dealing In</a></label></li>
            <li><label for="b"><a>Customer Credit Health</a></label></li>
            <li><label for="c"><a>Broker</a></label></li>
            <li><label for="d"><a>Communication Channels</a></label></li>
            <li><label for="e"><a>Business Category</a></label></li>
            <li><label for="f"><a>State</a></label></li>
            <li><label for="g"><a>Country</a></label></li>
            <li><label for="h"><a>City</a></label></li>
        </ul>
        </div>

        <div class="tab-content">
                <div class="tab-pane content-a">
                    {% include 'basic_block_a.html' %}
                </div>  

                <div class="tab-pane content-b">
                    {% include 'basic_block_b.html' %}
                </div>

                <div class="tab-pane content-c">
                    {% include 'basic_block_c.html' %} 
                </div>

                <div class="tab-pane content-d">
                    {% include 'basic_block_d.html' %}
                </div>

                <div class="tab-pane content-e">
                    {% include 'basic_block_e.html' %}
                </div>

                <div class="tab-pane content-f">
                    {% include 'basic_block_f.html' %}
                </div>

                <div class="tab-pane content-g">
                    {% include 'basic_block_g.html' %}
                </div>

                <div class="tab-pane content-h">
                    {% include 'basic_block_h.html' %}
                </div>
        </div>        
    </div>
<script>
        function showData_a() {
            document.getElementById('data_display_a ').style.display = "block";
         }
        
         function showData_b() {
            document.getElementById('data_display_b ').style.display = "block";
         }
         function showData_c() {
            document.getElementById('data_display_c ').style.display = "block";
         }
         function showData_d() {
            document.getElementById('data_display_d ').style.display = "block";
         }
         function showData_e() {
            document.getElementById('data_display_e ').style.display = "block";
         }
         function showData_f() {
            document.getElementById('data_display_f ').style.display = "block";
         }
         function showData_g() {
            document.getElementById('data_display_g ').style.display = "block";
         }
         function showData_h() {
            document.getElementById('data_display_h ').style.display = "block";
         }
</script>
    
{% endblock %}