{% extends 'basic_master_block.html' %}

{% block block_title%}
Business Category
{% endblock %}

{% block block_data_display %}
    Current Business Categories
{% endblock %}

{% block onclick %}showData_e{% endblock %}
{% block data_display %}data_display_e {% endblock %}
<!-- Data entry block -->
{% block form_content %}
    {{form_buss.hidden_tag()}}
    <p class="control is-expanded">{{form_buss.buss_cat(class="input" , placeholder = "Enter New Business Category")}}</p>
    <br>
{% endblock %}

{% block table_h_content%}
    <th>ID</th>
    <th>Business Category</th>
{% endblock %}

{% block table_d_content %}
{% for l in busslist %}
    <tr>
        <!-- Data Rows -->
        <td>{{l.id}}</td>
        <td>{{l.buss_cat}}</td>
    </tr>
{% endfor %}    

{% endblock %}

{% block action_buttons %}
<p class="control"><button class="button is-black" onclick="showData_e()"><i class="icon-btn" data-feather="eye"></i>View Data</button></p>
<p class="control"><button class="button is-black"><i class="icon-btn" data-feather="eye"></i>Delete Data</button></p>
{% endblock %}