{% extends 'base.html' %}
{% block content %}
    <style>
            input[type="radio"], .tab-pane { display: none; }

            /* the magic */
            #a:checked ~ .tab-content > .content-a,
            #b:checked ~ .tab-content > .content-b,
            #c:checked ~ .tab-content > .content-c,
            #d:checked ~ .tab-content > .content-d,
            #e:checked ~ .tab-content > .content-e {
              display: block;
            }

    </style>
    <div class="navbar ">
        <p class=" is-size-4 has-text-weight-bold">Basic Master </p>
    </div>
    <br>
    <div class="body-actions">
        <input type="radio" id="a" name="nav-tab">
        <input type="radio" id="b" name="nav-tab">
        <input type="radio" id="c" name="nav-tab">
        <input type="radio" id="d" name="nav-tab">
        <input type="radio" id="e" name="nav-tab">

        <div class="tabs">
        <ul>
            <li><label for="a"><a>Product Dealing In</a></label></li>
            <li><label for="b"><a>Customer Credit Health</a></label></li>
            <li><label for="c"><a>Broker</a></label></li>
            <li><label for="d"><a>Communication Channels</a></label></li>
            <li><label for="e"><a>Business Category</a></label></li>
        </ul>
        </div>

        <div class="tab-content">
                <div class="tab-pane content-a">
                <p class="">Product Dealing In</p>
                </div>
                <div class="tab-pane content-b">Customer Credit Health</div>
                <div class="tab-pane content-c">Broker</div>
                <div class="tab-pane content-d">Communication Channels</div>
                <div class="tab-pane content-e">Business Category</div>
        </div>
    </div>

    
{% endblock %}