
<!-- Main login for each tab -->
<p class="is-size-4 has-text-weight-bold">
    {% block block_title%}
    {% endblock %}
</p>
<br>

{% block error_content %}
{% endblock %}
<div class="notification has-background-light">
        <form action="/basic_master" method="POST">
        <div class="field ">
            {% block form_content %}


            {% endblock %}
        </div>
    </form>
    {% block form_xcontent %}
    {% endblock %}

</div>


<!-- Data Display  -->

<div id="{% block data_display %}{% endblock %}" style="display:none;">
    <p class="is-size-4 has-text-weight-bold is-light">
            {% block block_data_display %}
            {% endblock %}
    </p>
    <br>
    <div class="box">
    <div class="table-container">
            <table class="table">
                    <thead>
                    <tr>
                        <!-- Headers -->
                        {% block table_h_content %}
                        

                        {% endblock %}
                    </tr>
                </thead>
                <tbody>
                    {% block table_d_content %}
                       
                    {% endblock %}
                </tbody>
                </table>
                
            </div>
    </div>
</div>
<br>
<!-- End Data Display -->
