{% extends 'basic_master_block.html' %}

{% block block_title%}
    Customer Credit Health
{% endblock %}

{% block block_data_display %}
    Current Customer Credit Health
{% endblock %}

<!-- Data entry block -->
{% block form_content %}
    {{form_health.hidden_tag()}}
    <p class="control is-expanded">{{form_health.health_code(class="input" , placeholder = "Enter New Customer Health Code")}}</p>
    <br>
{% endblock %}

{% block table_h_content%}
    <th>ID</th>
    <th>Customer Health Code</th>
{% endblock %}

{% block table_d_content %}
{% for l in hlist %}
    <tr>
        <!-- Data Rows -->
        <td>{{l.id}}</td>
        <td>{{l.health_code}}</td>
    </tr>
{% endfor %}    

{% endblock %}