{% extends 'basic_master_block.html' %}

{% block block_title%}
State {% endblock %}

{% block block_data_display %}
    Current States 
{% endblock %}

{% block error_content%}

{% if error_mssg_f %}

<div class="notification has-background-warning ">
<span class="is-size-5">
    <span class="icon icon-btn-m">
        <i data-feather="info"></i>
    </span>
    {{error_mssg_f}}
</span>
<br>
</div>
{% endif %}

{% endblock %}


{% block data_display %}data_display_f {% endblock %}
<!-- Data entry block -->
{% block form_content %}
    {{form_state.hidden_tag()}}
    <p class="control is-expanded">{{form_state.state(class="input" , placeholder = "Enter New State")}}</p>
    <br>
    <div class="field is-grouped">
        <p class="control "><button class="button is-black"><i class="icon-btn" data-feather="plus-square"></i>Add Data</button></p>
        <p class="control"><a class="button is-black" onclick="showData_f()"><i class="icon-btn" data-feather="eye"></i>View Data</a></p>
    </div>
{% endblock %}

{% block table_h_content%}
    <th>State</th>
    <th>Delete</th>
    <th>Edit</th>
    {% endblock %}

{% block table_d_content %}
{% for l in statelist %}
    <tr>
        <!-- Data Rows -->
        <td>{{l.state}}</td>
        <td><a href="{{url_for('delete_data_state',item_id= l.id)}}">Delete</a></td>
        <td><a id="edit_button_f_{{loop.index}}">Edit</a></td>
        <!-- Edit data modal -->
        <div class="modal" id="modal-edit-contact_f_{{loop.index}}">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                <form action="{{url_for('edit_data_state',item_id= l.id)}}" method="POST">
                    <div class="form-name">
                        <p class="is-size-5 has-text-weight-bold">Edit data</p>
                        <br>
                        <p class="is-size-5"><span class="has-text-weight-bold">Current entry : </span>{{l.state}}
                        </p><br>
                        <input class="input is-fullwidth" name="edit_input" , placeholder="Edit current data - {{l.state}}">
                        <br>
                        
                        <button class="button is-black"><i class="icon-btn" data-feather="refresh-cw"></i>Update Data</button>
                    </div>
                </form>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <!-- End edit data modal -->
<script>
        document.querySelector('#edit_button_f_{{loop.index}}').addEventListener('click', function(event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-edit-contact_f_{{loop.index}}');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');
          
            modal.querySelector('.modal-close').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
              });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
              e.preventDefault();
              modal.classList.remove('is-active');
              html.classList.remove('is-clipped');
            });
          });
</script>

    </tr>
{% endfor %}    

{% endblock %}
