{% extends 'base.html' %}
{% block content %}

<!-- FIX : Action Buttons in navbar-end -->
<div class="navbar ">
    <div class="navbar-start">
            <p class="navbar-item is-size-4 has-text-weight-bold">Contacts </p>
    </div>
    {% if contact_list|length > 0 %}
    <div class="navbar-end is-size-4">
            <a class="navbar-item" id="add-contact"><button class="button is-black"><i class="icon-btn" data-feather="plus-square"></i>Add Contact</button></a>
            <a class="navbar-item" id="filter"><button class="button is-black"><i class="icon-btn" data-feather="filter"></i>Filter</button></a>
            <a class="navbar-item" id="group-create" ><button class="button is-black"><i class="icon-btn" data-feather="plus-circle"></i>Create Groups</button></a>
            <a class="navbar-item" ><button class="button is-black"><i class="icon-btn" data-feather="eye"></i>View Groups</button></a>
            <a class="navbar-item" id="import-csv" ><button class="button is-black"><i class="icon-btn" data-feather="upload"></i>Import from CSV</button></a>
    </div>
    {% else %}
    <div class="navbar-end is-size-4">
            <a class="navbar-item" id="add-contact"><button class="button is-black"><i class="icon-btn" data-feather="plus-square"></i>Add Contact</button></a>
            <a class="navbar-item"><button class="button is-black" disabled><i class="icon-btn" data-feather="filter" ></i>Filter</button></a>
            <a class="navbar-item" id="group-create"><button class="button is-black" disabled><i class="icon-btn" data-feather="plus-circle"></i>Create Groups</button></a>
            <a class="navbar-item"><button class="button is-black" disabled><i class="icon-btn" data-feather="eye"></i>View Groups</button></a>
    </div>
    {% endif %}
</div>
<br>

{% if error_mssg_c_a %}

<div class="snackbar">
    <div class="box  is-narrow animated is-centered fadeInDown is-vcentered">
        <span class="is-size-5">
            <span class="icon icon-btn-m"><i data-feather="info"></i></span>
            {{error_mssg_c_a}}
        </span>
        <br>
    </div>
</div>

<script>
        $(document).ready( function() {
            $('.snackbar').delay(3000).fadeOut();
          });
          $.ajax({
            type: "POST",
            url: "{{url_for('delete_session_mssg' , mssg = 'mssg_c_a')}}",
            
          }).done(function( o ) {
             console.log("session['mssg_c_a'] is empty")
          });
</script>
{% endif %}

<div class="snackbar-c is-hidden is-overlay is-narrow is-centered">
    <div class="box is-narrow animated is-centered fadeInDown is-vcentered">
        <span class="is-size-5">
            <span class="icon icon-btn-m"><i data-feather="info"></i></span>
            <span class="response-mssg"></span>
        </span>
        <br>
    </div>
</div>
{% if filter_contacts %}
<div id="filter-contacts">
<p class="navbar-item is-size-4 has-text-grey has-text-weight-bold">Filtered Contacts 
    <span style="margin-left:1rem;"><a class="button is-light" id="filter-close"><i data-feather="x" class="icon-btn" ></i> Close</a></span>
</p>

<br>
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-bordered">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact</th>
            <th>Whatsapp No.</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Business Category</th>
            <th>Product Dealing In</th>
            <th>Health Code</th>
            <th>Communication Channel</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for l in filter_contacts %}
        <tr>
            <td>{{l.company_name}}</td>
            <td>{{l.contact_one}}</td>
            <td>{{l.wh_contact}}</td>
            <td>{{l.city[0].city}}</td>
            <td>{{l.city[0].state}}</td>
            <td>{{l.city[0].country}}</td>
            <td> 
                {% for id in l.buss_cat %}
                    <span>{{id.buss_cat}}</span>
                {% endfor %}
            </td>
            <td> 
                {% for id in l.prod_cat %}
                    <span>{{id.prod_cat}}</span>
                {% endfor %}
            </td>
            <td>{% for id in l.health_code %}
                    <span>{{id.health}}</span>
                {% endfor %}
            </td>
            <td>
                {% for id in l.comm_channel %}
                    <span>{{id.channel}}</span>
                {% endfor %}
            </td>
            <td><a href="{{url_for('delete_data_contact',item_id= l.id)}}">Delete</a></td>
            <td><a id="edit_button_contact_f_{{loop.index}}">Edit</a></td>
        </tr>

        <!-- Edit Contact Modal -->
<div class="modal" id="modal-edit-f-contact_{{loop.index}}">
    <div class="modal-background"></div>
    <div class="modal-content">
            <div class="box" style="margin-bottom : 0px;">
                <form  id="contact_edit_form" method="POST">
                        <p class="is-size-5 has-text-weight-bold">Edit Contact <span class="has-text-grey-light"> - {{l.company_name}}</span></p>
                        <br>
                        <div class="notification is-warning">
                                <i class="icon-btn" data-feather="info"></i> Leave the Inputs empty if you do not wish to change anything.
                        </div>
                        <p class="label">Company Name</p>

                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                {{ form.company_name(class="input" , placeholder= l.company_name )}}
                            </p>
                        </div>

                        <p class="label">Contact Person Name</p>

                        <div class="field is-grouped">
                            <p class="control is-expanded">
                                {{ form.company_name(class="input" , placeholder= l.company_per )}}
                            </p>
                        </div>
                        
                        <label class="label ">Contacts</label>
                        <div class="field is-grouped">
                            <div class="field">
                                    <label class="xlabel">Contact</label>
                                    <p class="control">{{form.contact_one(class="input" , placeholder=l.contact_one)}}</p>
                                    
                            </div>
                            <div class="field" style="padding-left:3rem;">
                                    <label class="xlabel ">Whatsapp</label>
                                    <p class="control">{{form.wh_contact(class="input" , placeholder=l.wh_contact)}}</p>
                        
                            </div>
                            
                        </div>
                        <label class="label ">Email</label>
                    <p class="control">{{form.email(class="input" , placeholder=l.email)}}</p>
                    <br>
                    <div class="address-form notification is-light">
                        <p class="label">Address Line 1</p>
                        <p class="control">{{form.address_one(class="input" , placeholder=l.address_one)}}</p>
                        <p class="label">Address Line 2</p>
                        <p class="control">{{form.address_two(class="input" , placeholder=l.address_two)}}</p>
                        <p class="label">Address Line 3</p>
                        <p class="control">{{form.address_three(class="input" , placeholder=l.address_three)}}</p>
                        <p class="label">Pin Code</p>
                        <p class="control">{{form.address_pin(class="input" , placeholder=l.address_pin)}}</p>

                        <label class="label ">City</label>
                        <div class="select" >                        
                            <p class="control">{{form.city(id="editcity"+loop.index|string)}}</p>
                        </div>
                        <script>
                            var valc_{{loop.index}} = {{ l.city[0].id }};
                            console.log(valc_{{loop.index}});
                            $("#editcity{{ loop.index }}").val(valc_{{loop.index}});
                        </script>
                    
                    </div>
                    <div class="field is-horizontal">

                        <div class="field" style="margin-right:5rem;">
                            <p class="label">Business Category</p>
                            <p class="select is-multiple control">
                            {{ form.buss_cat(class="input" , id="editbuss"+loop.index|string)}}
                            </p>
                            <script>
                                    
                                    var valbs_{{loop.index}};
                                    var valbs_temp = [];
                                    {% for r in l.buss_cat %}
                                        valbs_temp.push("{{r.id|int}}");
                                    {% endfor %}
                                    valbs_{{loop.index}} = valbs_temp;
                                    $("#editbuss{{ loop.index }}").val(valbs_{{loop.index}});
                                   
                            </script>
                        </div>
                        <div class="field">
                                <p class="label">Product Category</p>
                                <p class="select is-multiple control">
                                {{ form.prod_cat(class="input" , id="editprod"+loop.index|string) }}
                                </p>
                        </div>
                    </div>

                    <div class="notification is-light field is-horizontal" >
                        <div class="field" style="margin-right:3rem;">
                            <p class="label">Broker</p>
                            <p class="control select">
                                {{form.broker(class="input" , id="editbroker"+loop.index|string)}}
                            </p>
                            <script>
                                    var valb_{{loop.index}} = {{ l.broker[0].id|string }};
                                    $("#editbroker{{loop.index}}").val(valb_{{loop.index}});
                                </script>
                        </div>

                        <div class="field" style="margin-right:3rem;">
                            <p class="label">Health Code</p>
                            <p class="control select">
                                {{form.health_code(class="input")}}
                            </p>
                        </div>

                        <div class="field" >
                                <p class="label">Group</p>
                                <p class="control select">
                                    {{form.group(class="input")}}
                                </p>
                            </div>

                    </div>

                    <div class="field is-horizontal">

                            <div class="field" style="margin-right:3rem;">
                                <p class="label">Coomunication Channel</p>
                                <p class="select control">
                                {{ form.comm_channel(class="input")}}
                                </p>
                            </div>
                            <div class="field">
                                    <p class="label">Pref. Coomunication Channel</p>
                                    <p class="select control">
                                    {{ form.pref_comm_channel(class="input")}}
                                    </p>
                            </div>
                    </div>


                        <div class="field is-grouped ">
                            <p class="control "><a type="submit" class="button is-black" onclick="#"><i class="icon-btn" data-feather="plus-square"></i>Update Contact</a></p>
                            <p class="control"><a class="button" onclick="clear_field()"><i class="icon-btn" data-feather="circle"></i>Clear Fields</a></p>
                        </div>
            </form>
            </div>   

            </div>
    <button class="modal-close is-large" aria-label="close"></button>

</div>

<!-- End edit contact Modal -->
    <script>
    document.querySelector('#edit_button_contact_f_{{loop.index}}').addEventListener('click', function(event) {
        event.preventDefault();
        var modal = document.querySelector('#modal-edit-f-contact_{{loop.index}}');  // assuming you have only 1
        var html = document.querySelector('html');
        modal.classList.add('is-active');
        html.classList.add('is-clipped');
      
        document.querySelector('.modal-close').addEventListener('click', function(e) {
            e.preventDefault();
            modal.classList.remove('is-active');
            html.classList.remove('is-clipped');
            window.location.reload();              });

        modal.querySelector('.modal-background').addEventListener('click', function(e) {
          e.preventDefault();
          modal.classList.remove('is-active');
          html.classList.remove('is-clipped');
          window.location.reload();    
        });
      });
    </script>

        {% endfor %}
        </tbody>
        </table>
        </div>
        <hr>
        <script>
            $("#filter-close").click(function(){
                $("#filter-contacts").fadeOut(300);
                window.location.replace("{{url_for('contacts')}}");

            })
        </script>
    </div>
{% endif %}
{% if contact_list|length > 0 %}
<div class="table-container">
    <table class="table is-fullwidth is-hoverable is-bordered">
        <thead>
        <tr>
            <th>Company Name</th>
            <th>Contact</th>
            <th>Whatsapp No.</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Business Category</th>
            <th>Product Dealing In</th>
            <th>Health Code</th>
            <th>Communication Channel</th>
            <th>Delete</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
        {% for l in contact_list %}
        <tr>
            <td>{{l.company_name}}</td>
            <td>{{l.contact_one}}</td>
            <td>{{l.wh_contact}}</td>
            <td>{{l.city[0].city}}</td>
            <td>{{l.city[0].state}}</td>
            <td>{{l.city[0].country}}</td>
            <td> 
                {% for id in l.buss_cat %}
                    <span>{{id.buss_cat}}</span>
                {% endfor %}
            </td>
            <td> 
                {% for id in l.prod_cat %}
                    <span>{{id.prod_cat}}</span>
                {% endfor %}
            </td>
            <td>{% for id in l.health_code %}
                    <span>{{id.health}}</span>
                {% endfor %}
            </td>
            <td>
                {% for id in l.comm_channel %}
                    <span>{{id.channel}}</span>
                {% endfor %}
            </td>
            <td><a href="{{url_for('delete_data_contact',item_id= l.id)}}">Delete</a></td>
            <td><a id="edit_button_contact_{{loop.index}}">Edit</a></td>
        </tr>
        <!-- Edit Contact Modal -->
<div class="modal" id="modal-edit-contact">
        <div class="modal-background"></div>
        <div class="modal-content">
                <div class="box" style="margin-bottom : 0px;">
                    <form  id="contact_edit_form" method="POST">
                            <p class="is-size-5 has-text-weight-bold">Edit Contact <span class="has-text-grey-light"> - {{l.company_name}}</span></p>
                            <br>
                            <div class="notification is-warning">
                                    <i class="icon-btn" data-feather="info"></i> Leave the Inputs empty if you do not wish to change anything.
                            </div>
                            <p class="label">Company Name</p>

                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    {{ form.company_name(class="input" , placeholder= l.company_name )}}
                                </p>
                            </div>

                            <p class="label">Contact Person Name</p>

                            <div class="field is-grouped">
                                <p class="control is-expanded">
                                    {{ form.company_name(class="input" , placeholder= l.company_per )}}
                                </p>
                            </div>
                            
                            <label class="label ">Contacts</label>
                            <div class="field is-grouped">
                                <div class="field">
                                        <label class="xlabel">Contact</label>
                                        <p class="control">{{form.contact_one(class="input" , placeholder=l.contact_one)}}</p>
                                        
                                </div>
                                <div class="field" style="padding-left:3rem;">
                                        <label class="xlabel ">Whatsapp</label>
                                        <p class="control">{{form.wh_contact(class="input" , placeholder=l.wh_contact)}}</p>
                            
                                </div>
                                
                            </div>
                            <label class="label ">Email</label>
                        <p class="control">{{form.email(class="input" , placeholder=l.email)}}</p>
                        <br>
                        <div class="address-form notification is-light">
                            <p class="label">Address Line 1</p>
                            <p class="control">{{form.address_one(class="input" , placeholder=l.address_one)}}</p>
                            <p class="label">Address Line 2</p>
                            <p class="control">{{form.address_two(class="input" , placeholder=l.address_two)}}</p>
                            <p class="label">Address Line 3</p>
                            <p class="control">{{form.address_three(class="input" , placeholder=l.address_three)}}</p>
                            <p class="label">Pin Code</p>
                            <p class="control">{{form.address_pin(class="input" , placeholder=l.address_pin)}}</p>

                            <label class="label ">City</label>
                            <div class="select" >                        
                                <p class="control">{{form.city(id="editcity"+loop.index|string)}}</p>
                            </div>
                            <script>
                                var valc_{{loop.index}} = {{ l.city[0].id }};
                                console.log(valc_{{loop.index}});
                                $("#editcity{{ loop.index }}").val(valc_{{loop.index}});
                            </script>
                        
                        </div>
                        <div class="field is-horizontal">

                            <div class="field" style="margin-right:5rem;">
                                <p class="label">Business Category</p>
                                <p class="select is-multiple control">
                                {{ form.buss_cat(class="input" , id="editbuss"+loop.index|string)}}
                                </p>
                                <script>
                                        
                                        var valbs_{{loop.index}};
                                        var valbs_temp = [];
                                        {% for r in l.buss_cat %}
                                            valbs_temp.push("{{r.id|int}}");
                                        {% endfor %}
                                        valbs_{{loop.index}} = valbs_temp;
                                        $("#editbuss{{ loop.index }}").val(valbs_{{loop.index}});
                                       
                                </script>
                            </div>
                            <div class="field">
                                    <p class="label">Product Category</p>
                                    <p class="select is-multiple control">
                                    {{ form.prod_cat(class="input" , id="editprod"+loop.index|string)}}
                                    </p>
                            </div>
                        </div>

                        <div class="notification is-light field is-horizontal" >
                            <div class="field" style="margin-right:3rem;">
                                <p class="label">Broker</p>
                                <p class="control select">
                                    {{form.broker(class="input" , id="editbroker"+loop.index|string)}}
                                </p>
                                <script>
                                        var valb_{{loop.index}} = {{ l.broker[0].id|string }};
                                        $("#editbroker{{loop.index}}").val(valb_{{loop.index}});
                                    </script>
                            </div>

                            <div class="field" style="margin-right:3rem;">
                                <p class="label">Health Code</p>
                                <p class="control select">
                                    {{form.health_code(class="input")}}
                                </p>
                            </div>

                            <div class="field" >
                                    <p class="label">Group</p>
                                    <p class="control select">
                                        {{form.group(class="input")}}
                                    </p>
                                </div>

                        </div>

                        <div class="field is-horizontal">

                                <div class="field" style="margin-right:3rem;">
                                    <p class="label">Coomunication Channel</p>
                                    <p class="select control">
                                    {{ form.comm_channel(class="input")}}
                                    </p>
                                </div>
                                <div class="field">
                                        <p class="label">Pref. Coomunication Channel</p>
                                        <p class="select control">
                                        {{ form.pref_comm_channel(class="input")}}
                                        </p>
                                </div>
                        </div>
    

                            <div class="field is-grouped ">
                                <p class="control "><a type="submit" class="button is-black" onclick="#"><i class="icon-btn" data-feather="plus-square"></i>Update Contact</a></p>
                                <p class="control"><a class="button" onclick="clear_field()"><i class="icon-btn" data-feather="circle"></i>Clear Fields</a></p>
                            </div>
                </form>
                </div>   

                </div>
        <button class="modal-close is-large" aria-label="close"></button>

</div>

<!-- End edit contact Modal -->
        <script>
        document.querySelector('#edit_button_contact_{{loop.index}}').addEventListener('click', function(event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-edit-contact');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');
          
            document.querySelector('.modal-close').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
                window.location.reload();              });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
              e.preventDefault();
              modal.classList.remove('is-active');
              html.classList.remove('is-clipped');
              window.location.reload();    
            });
          });
        </script>
        {% endfor %}

    </tbody>
    </table>
</div>

{% else %}
<div class="notification has-text-centered is-center">
    <p class="is-size-5 has-text-weight-bold has-text-grey-light">
        😧 Woah ! So empty.
        <br>
        <br>
        Create contacts with <span class="button is-outlined has-text-grey"><i class="icon-btn" data-feather="plus-square"></i>Add Contact</span> button
    </p>
</div>
{% endif %}
<!-- Modal Code -->
<div class="modal" id="modal-add-contact">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box" style="margin-bottom : 0px;">
                {% if error_mssg %}

                <div class="notification has-background-warning is-narrow ">
                <span class="is-size-6">
                    <span class="icon icon-btn-m">
                        <i data-feather="info"></i>
                    </span>
                    {{error_mssg_a}}
                </span>
                <br>
                </div>
                {% endif %}
        <!-- Add form for Contacts Input -->
            <form  id="contact_add_form" method="POST">
                {{form.hidden_tag()}}
                <div class="form-contact">
                        <p class="is-size-5 has-text-weight-bold">Add Contact</p>
                        <br>
                        <p class="label">Company Name</p>
                        <p class="control">{{form.company_name(class="input" , placeholder="Enter Company Name")}}</p>
                        <label class="label ">Contact Person</label>
                        <p class="control">{{form.company_per(class="input" , placeholder="Enter Company Name")}}</p>
                        <label class="label ">Contacts</label>
                        <div class="field is-grouped">
                                <p class="control">{{form.contact_one(class="input" , placeholder="Enter Contact no.")}}</p>
                                <p class="control">{{form.wh_contact(class="input" , placeholder="Enter Whatsapp no.")}}</p>
                        </div>
                       
                        <label class="label ">Email</label>
                        <p class="control">{{form.email(class="input" , placeholder="Enter email")}}</p>
                        <br>
                        <div class="address-form notification is-light">
                            <p class="label">Address Line 1</p>
                            <p class="control">{{form.address_one(class="input" , placeholder="Address Line 1")}}</p>
                            <p class="label">Address Line 2</p>
                            <p class="control">{{form.address_two(class="input" , placeholder="Address Line 1")}}</p>
                            <p class="label">Address Line 3</p>
                            <p class="control">{{form.address_three(class="input" , placeholder="Address Line 1")}}</p>
                            <p class="label">Pin Code</p>
                            <p class="control">{{form.address_pin(class="input" , placeholder="Enter Pincode eg. 302001")}}</p>

                            <label class="label ">City</label>
                            <div class="select">                        
                                <p class="control">{{form.city}}</p>
                            </div>
                        
                        </div>
                        <label class="label ">Broker</label>
                        <div class="select">   
                            <p class="control">{{form.broker}}</p>
                        </div>

                        <!-- Bussiness Category -->
                        <label class="label ">Business Category</label>
                        <div class="field is-grouped">
                        <div class="select control">   
                           {{form.buss_cat}}
                        </div>
                        <p class="control"><a class="button" onclick="add_buss()"><i data-feather="plus-circle"></i></a></p>
                        </div>
                        <div  id="buss_list">
                            <!-- Buss select list -->
                        </div>

                        <label class="label ">Communication Channel</label>
                        <div class="field is-grouped">
                        <div class="select control">   
                          {{form.comm_channel}}
                        </div>
                        <p class="control"><a class="button" onclick="add_comm_a()"><i data-feather="plus-circle"></i></a></p>
                        </div>
                        <div  id="comm_list">
                            <!-- Comm select list -->
                        </div>

                        <label class="label ">Pref. Communication Channel</label>
                        <div class="field is-grouped " >
                        <div class="select control">   
                            {{form.pref_comm_channel}}
                        </div>
                        <p class="control"><a class="button" onclick="add_comm_b()"><i data-feather="plus-circle"></i></a></p>
                        </div>
                        <div  id="pref_comm_list">
                            <!-- pref_comm select list -->
                        </div>
                        <label class="label ">Product Category</label>
                        <div class="field is-grouped">
                        <div class="select control">   
                           {{form.prod_cat}}
                        </div>
                        <p class="control"><a class="button" onclick="add_prod()"><i data-feather="plus-circle"></i></a></p>
                        </div>
                        <div  id="prod_list">
                            <!-- Product select list -->
                        </div>
                        <label class="label ">Health Code</label>
                        <div class="field is-grouped">
                            <div class="select control">   
                                {{form.health_code}}
                            </div>
                        </div>
                        <label class="label ">Group</label>
                        <div class="field is-grouped">
                            <div class="select control">   
                                {{form.group}}
                            </div>
                        </div>
                        </div>
                        <br>
                        <div class="field is-grouped ">
                            <p class="control "><a type="submit" class="button is-black" onclick="submit_contact()"><i class="icon-btn" data-feather="plus-square"></i>Add Contact</a></p>
                            <p class="control"><a class="button" onclick="clear_field()"><i class="icon-btn" data-feather="circle"></i>Clear Fields</a></p>
                        </div>
                    </div>   
            </form>
            

            <span id="contact_error_mssg"></span>
           

    </div>
</div>
    <button class="modal-close is-large" aria-label="close"></button>
</div>

<!-- Filter Section Modal -->
<div class="modal" id="modal-filter">
        <div class="modal-background"></div>
        <div class="modal-content">
                <div class="box has-addons-centered">
                        <p class="is-size-4 has-text-weight-bold">Filters </p>
                        <br>
                        <form id="filter_form"  method="POST">
                                {{ formfilter.hidden_tag() }}
                                <div class="columns">
                                        <div class="column">
                                                <div class="field is-horizontal">
                                                        <div class="field" style="margin-right:2rem;">
                                                                <p class="label has-text-grey is-size-5 has-text-weight-normal">Bussiness Category</p>
                                                                <span onclick="buss_cat_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                <br>
                                                                <p class="select is-multiple control" width="5rem">{{formfilter.buss_cat}}</p>
                                                        </div>

                                                        <div class="field">
                                                                <p class="label has-text-grey is-size-5 has-text-weight-normal">Product Category</p>
                                                                <span onclick="prod_cat_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                <br>
                                                                <p class="select is-multiple control" width="5rem">{{formfilter.prod_cat}}</p>
                                                        </div>
                                                </div>
                                                <div class="notification is-narrow is-light">
                                                        <div class="field is-horizontal">
                                                                <div class="field" style="margin-right:2.5rem;">
                                                                        <p class="label has-text-grey is-size-5 has-text-weight-normal">City</p>
                                                                        <span onclick="city_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                        <br>
                                                                        <p class="select is-multiple control" width="5rem">{{formfilter.city}}</p>
                                                                </div>
                                                                <div class="field " style="margin-right:2.5rem;">
                                                                        <p class="label has-text-grey is-size-5 has-text-weight-normal">State</p>
                                                                        <span onclick="state_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                        <br>
                                                                        <p class="select is-multiple control" width="5rem">{{formfilter.state}}</p>
                                                                </div>
                                                                <div class="field">
                                                                        <p class="label has-text-grey is-size-5 has-text-weight-normal">Country</p>
                                                                        <span onclick="country_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                        <br>
                                                                        <p class="select is-multiple control" width="5rem">{{formfilter.country}}</p>
                                                                </div>
                                                        </div>
                                                </div>
                                                <div class="field is-horizontal">
                                                        <div class="field" style="margin-right:2rem;">
                                                                <p class="label has-text-grey is-size-5 has-text-weight-normal">Broker</p>
                                                                <span onclick="broker_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                <br>
                                                                <p class="select is-multiple control" width="5rem">{{formfilter.broker}}</p>
                                                        </div>

                                                        <div class="field" style="margin-right:2rem;">
                                                                <p class="label has-text-grey is-size-5 has-text-weight-normal">Health Code</p>
                                                                <span onclick="health_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                <br>
                                                                <p class="select is-multiple control" width="5rem">{{formfilter.health_code}}</p>
                                                        </div>
                                                        <div class="field">
                                                                <p class="label has-text-grey is-size-5 has-text-weight-normal">Communication Channels</p>
                                                                <span onclick="comm_reset()" class="clear button is-small is-black">Clear Selection </span>
                                                                <br>
                                                                <p class="select is-multiple control" width="5rem">{{formfilter.comm_channel}}</p>
                                                        </div>
                                                </div>
                                                <br>
                                                <div class="buttons">
                                                        <button class="button is-black" type="submit">
                                                                <i class="icon-btn" data-feather="check-square"></i>Set Filter</button>
                                                        <a class="button is-light">
                                                                <i class="icon-btn" data-feather="circle"></i>Clear Filters</a>
                                                </div>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>

</div>
<script>

function prod_cat_reset() {
        select_box = document.getElementById("prod_cat");
        select_box.selectedIndex = -1;
};

function comm_reset() {
        select_box = document.getElementById("comm_channel");
        select_box.selectedIndex = -1;
};
function buss_cat_reset() {
        select_box = document.getElementById("buss_cat");
        select_box.selectedIndex = -1;
};
function city_reset() {
        select_box = document.getElementById("city");
        select_box.selectedIndex = -1;
};
function state_reset() {
        select_box = document.getElementById("state");
        select_box.selectedIndex = -1;
};
function country_reset() {
        select_box = document.getElementById("country");
        select_box.selectedIndex = -1;
};
function broker_reset() {
        select_box = document.getElementById("broker");
        select_box.selectedIndex = -1;
};
function health_reset() {
        select_box = document.getElementById("health_code");
        select_box.selectedIndex = -1;
};

</script>
<!-- End Filter Modal -->

<!-- Group Modal -->

<div class="modal" id="modal-add-group">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
            <form action="/contacts" method="POST">
                {{form_add_group.hidden_tag()}}
                    <p class="is-size-5 has-text-weight-bold">Create Group</p>
                    <br>
                    <div class="field is-grouped is-horizontal">
                        <div class="field " style="margin-right:2rem;">
                            <label class="label has-text-grey">Select Group</label>
                            <div class="select control">
                            {{form_add_group.group}}
                            </div>
                        </div>
                        <div class="field">
                            <label class="label has-text-grey">Select Contacts</label>
                            <div class="select control is-multiple" width="8">
                            {{form_add_group.contact}}
                            </div>
                        </div>
                    </div>
                    <br>
                    
                    <button class="button is-black"><i class="icon-btn" data-feather="check-square"></i>Create Group</button>
                
            </form>
            </div>            
            </div>
            <button class="modal-close is-large" aria-label="close"></button>

        </div>

    <!-- End group Modal -->

    <!-- Import CSV Modal -->
    <div class="modal" id="modal-import">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                        <p class="is-size-5 has-text-weight-bold">Import Contacts <span class="has-text-grey-light"> - from CSV</span></p>
                        <br>
                        <p class="is-size-5 has-text-black">Please make sure your CSV file follow the below order for importing contacts.</p>
                        <br>
                        <div class="table-container">
                            <table class="table is-bordered">
                                <thead>
                                    <tr>
                                            <th>Company Name</th>
                                            <th>Contact</th>
                                            <th>Whatsapp No.</th>
                                            <th>City</th>
                                            <th>State</th>
                                            <th>Country</th>
                                            <th>Address</th>
                                            <th>Health Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>

                                    </tr>
                                </tbody>

                            </table>
                        </div>
                        <br>
                        <a class="button is-black" href=""><i class="icon-btn" data-feather="upload"></i>Import Contacts</a>

                </div>
                </div>
            <button class="modal-close is-large" aria-label="close"></button>

    </div>
    <!-- End Import CSV modal -->
<script>
        document.querySelector('#add-contact').addEventListener('click', function(event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-add-contact');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');
          
            document.querySelector('.modal-close').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
                window.location.reload();              });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
              e.preventDefault();
              modal.classList.remove('is-active');
              html.classList.remove('is-clipped');
              window.location.reload();    
            });
          });


          document.querySelector('#filter').addEventListener('click', function (event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-filter');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');

            modal.querySelector('.modal-close').addEventListener('click', function (e) {
                    e.preventDefault();
                    modal.classList.remove('is-active');
                    html.classList.remove('is-clipped');
            });

            modal.querySelector('.modal-background').addEventListener('click', function (e) {
                    e.preventDefault();
                    modal.classList.remove('is-active');
                    html.classList.remove('is-clipped');
            });
    });

          document.querySelector('#group-create').addEventListener('click', function(event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-add-group');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');
          
            document.querySelector('.modal-close').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
              });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
              e.preventDefault();
              modal.classList.remove('is-active');
              html.classList.remove('is-clipped');
            });
          });

          document.querySelector('#import-csv').addEventListener('click', function(event) {
            event.preventDefault();
            var modal = document.querySelector('#modal-import');  // assuming you have only 1
            var html = document.querySelector('html');
            modal.classList.add('is-active');
            html.classList.add('is-clipped');
          
            document.querySelector('.modal-close').addEventListener('click', function(e) {
                e.preventDefault();
                modal.classList.remove('is-active');
                html.classList.remove('is-clipped');
              });

            modal.querySelector('.modal-background').addEventListener('click', function(e) {
              e.preventDefault();
              modal.classList.remove('is-active');
              html.classList.remove('is-clipped');
            });
          });
        function addElement(parentId, elementTag, elementClass,elementId, html) {
            // Adds an element to the document
            var p = document.getElementById(parentId);
            var newElement = document.createElement(elementTag);
            var xbr = document.createElement("br");
            newElement.setAttribute('class', elementClass);
            newElement.setAttribute('id', elementId);
            newElement.setAttribute('style' , 'margin-top:0px;margin-bottom:10px;');
            newElement.innerHTML = html;
            p.appendChild(newElement);
            p.appendChild(xbr);
        };

        var prod_list = 0;
        var buss_list = 0;
        var comm_list_a = 0;
        var comm_list_b = 0;

        function add_prod(){
            var html = '{{form.prod_cat()}}';
            var ex_id = 'prod_select_'+prod_list;
        addElement('prod_list', 'div', 'select control', ex_id , html);
        prod_list = prod_list+1;
         };

         function add_buss(){
            var html = '{{form.buss_cat}}';
            var ex_id = 'buss_select_'+buss_list;
            addElement('buss_list', 'div', 'select control',ex_id , html);
            buss_list = buss_list+1;

         };

         function add_comm_a(){
            var html = '{{form.comm_channel}}';
            var ex_id = 'comm_a_select_'+comm_list_a;
            addElement('comm_list', 'div', 'select control',ex_id ,  html);
            comm_list_a = comm_list_a+1;

         };

         function add_comm_b(){
            var html = '{{form.pref_comm_channel}}';
            var ex_id = 'comm_b_select_'+comm_list_b;
            addElement('pref_comm_list', 'div', 'select control',ex_id , html);
            comm_list_b = comm_list_b+1;
         };

</script>
<script>

    function submit_contact(){
                    var elements = document.getElementById("contact_add_form").elements;
                    var obj = {};
                    for(var i = 0 ; i < elements.length ; i++){
                        var item = elements.item(i);
                            obj[item.name] = item.value;
                        }
                    
                    console.log(obj);

                    for(var i =0 ; i< prod_list ; i++){
                        var prod_item = document.querySelector('#prod_select_'+i+' > select')   ;
        
                        obj['prod_cat_'+i+''] = prod_item.options[prod_item.selectedIndex].value;
                    };

                    for(var j =0 ; j< buss_list ; j++){
                        var buss_item = document.querySelector('#buss_select_'+j+' > select')   ;
        
                        obj['buss_cat_'+j] = buss_item.options[buss_item.selectedIndex].value;
                    };

                    for(var k =0 ; k< comm_list_a ; k++){
                        var comm_a_item = document.querySelector('#comm_a_select_'+k+' > select')   ;
        
                        obj['comm_a_cat_'+k] = comm_a_item.options[comm_a_item.selectedIndex].value;
                    };

                    for(var l =0 ; l< comm_list_b ; l++){
                        var comm_b_item = document.querySelector('#comm_b_select_'+l+' > select')   ;
        
                        obj['comm_b_cat_'+l] = comm_b_item.options[comm_b_item.selectedIndex].value;
                    };
                    console.log(obj);
                    
                    axios.post("{{url_for('contacts_add')}}", 
                                { data : obj}
                                )
                                .then(function (response) {
                                    console.log(response.data.mssg );
                                    var snack = document.getElementsByClassName('snackbar-c');                                    
                                    $("span.response-mssg").html(response.data.mssg) ;
                                    $(".snackbar-c").removeClass("is-hidden").addClass("");
                                    setTimeout(function() {
                                        $(".snackbar-c").fadeOut();
                                      }, 3000);
                                    
                                })
                                .catch(function (error) {
                                    console.log(response.data.mssg );
                                    var snack = document.getElementsByClassName('snackbar-c');                                    
                                    $("span.response-mssg").html(error.data.mssg+ '🤙') ;
                                    $(".snackbar-c").removeClass("is-hidden").addClass("");
                                    setTimeout(function() {
                                        $(".snackbar-c").fadeOut();
                                      }, 3000);
                                });
                            };
    
</script>

{% endblock %}