{% extends 'base.html' %}
{% block content %}
    <style>
            input[type="radio"], .tab-pane { display: none; }

            /* the magic */
            #a:checked ~ .tab-content > .content-a,
            #b:checked ~ .tab-content > .content-b{
              display: block;
            }

    </style>
    <div class="navbar ">
        <p class=" is-size-4 has-text-weight-bold">Contacts </p>
    </div>
    <br>
    <div class="body-actions">
        {% if check == 'a' %}
        <input type="radio" checked id="a" name="nav-tab">
        {% else %}
        <input type="radio" id="a" name="nav-tab">
        {% endif %}

        {% if check == 'b' %}
        <input type="radio" checked id="b" name="nav-tab">
        {% else %}
        <input type="radio" id="b" name="nav-tab">
        {% endif %}

              
        <div class="tabs">
        <ul>
            <li><label for="a"><a>Add Contacts</a></label></li>
            <li><label for="b"><a>Group Addition</a></label></li>
        </ul>
        </div>

        <div class="tab-content">
                <div class="tab-pane content-a">
                    {% include 'contacts.html' %}
                </div>  

                <div class="tab-pane content-b">
                    {% include 'contact_b.html' %}
                </div>
        </div>        
    </div>
<script>
        function showData_a() {
        document.getElementById('data_display_a ').style.display = "block";
        }
        function showData_b() {
        document.getElementById('data_display_b ').style.display = "block";
        }
</script>
    
{% endblock %}