{% extends 'base.html' %}
{% block content %}
<div class="navbar">
        <div class="navbar-start">
                <p class="navbar-item is-size-4 has-text-weight-bold">Home</p>    
        </div>
</div>
<br>
<br>
<!-- Use Bulma Tiles for Reporting  -->
<div class="container">
        <div class="tile is-ancestor">
                <div class="tile is-parent">
                        <div class="tile is-child box">
                                <p class="title is-size-4">Contacts</p>
                                
                                <p>Ohhhh</p>
                                <br>
                                <div class="buttons">
                                        <a class="button is-black"> Go to Contacts <span class="icon icon-r" ><i data-feather="arrow-right"></i></span></a>
                                </div>
                        </div>
                </div>     
                <div class="tile is-parent">
                                <div class="tile is-child box">
                                                <p class="title is-size-4">Invoices</p>
                                                <p>Ohhhh</p>
                                                <br>
                                                <div class="buttons">
                                                                <a class="button is-black"> Go to Invoices <span class="icon icon-r" ><i data-feather="arrow-right"></i></span></a>

                                                        </div>
                                        </div>
                </div>
                <div class="tile is-parent">
                                <div class="tile is-child box">
                                                <p class="title is-size-4">Communications</p>
                                                <p>Ohhhh</p>
                                                <br>
                                                <div class="buttons">
                                                                <a class="button is-black"> Go to Communications <span class="icon icon-r" ><i data-feather="arrow-right"></i></span></a>

                                                        </div>
                                        </div>
                </div>
</div>    
</div>
{% endblock %}