{% extends 'base_login.html' %}
{% block content %}
	<div class=" has-text-centered" style="margin-top : 100px;">
	<h2 class="is-size-4 has-text-weight-bold">Welcome back</h2>
	<br>
	<br>
	<div class="form-box center">
	<form action="/login" method="POST" width="5rem">
		{{ form.hidden_tag()}}
		{{ form.email(placeholder="Email address" , class="input")}}
		<br>
		<br>	
		{{ form.password(placeholder = "Password" , class="input")}}
		<br>
		<br>
		{% if error_mssg %}
				<span class="is-medium is-size-6 error-mssg">
					<i class="icon-btn" data-feather="alert-triangle">error</i>
					{{ error_mssg }}
				</span>
				<br>
				<br>
		{% endif %}
		<br>
		<button class="button is-black is-size-6 "><i class="icon-btn" data-feather="log-in"></i>Login</button>
		<br>
		<br>
		<a href="{{ url_for('forgot')}}">Forgot Passoword ?</a>
	</form>
	</div>
	</div>
{% endblock %}