{% extends 'base_login.html' %}
{% block content %}
<div class=" has-text-centered is-vcentered">
		<a href="{{url_for('index')}}" style="padding:1rem;"><img  src="static/images/peep-logo.png" width="112" height="28" /></a>
			
		<p class="has-text-weight-bold" style="margin-top:1rem;">Coomunication Management Platform designed <br>for small bussiness.</p>
		<br>
		<br>
		<h2 class="is-size-4 has-text-weight-bold">Join Peep.</h2>
		<br>
		<br>
	<div class="form-box center">
	<form action="/signup" method="POST" width="5rem">
		{{ form.hidden_tag()}}
		{{ form.username(class="input" , placeholder="Username")}}
		<br><br>
		{{ form.email(class="input" , placeholder="Email")}}<br><br>
		{{ form.password(class="input" , placeholder = "Password")}}<br><br>
		<br>
		{% if error_mssg %}
			<span class="is-medium is-size-6 error-mssg">
				<i data-feather="alert-triangle">error</i>
				{{ error_mssg }}
			</span>
			<br>
			<br>
		{% endif %}
		<button class="button is-black is-size-6"><i class="icon-btn" data-feather="user"></i>Register</button>
		<br>
		<br>
		<a href="{{ url_for('login')}}">Already registered ? Login</a>
	</form>
	</div>
</div>
{% endblock %}