{% extends 'basic_master_block.html' %}

{% block block_title%}
Communication{% endblock %}

{% block block_data_display %}
Current Communications
{% endblock %}

{% block error_content%}

{% if error_mssg_t_b %}

<div class="snackbar">
    <div class="box is-narrow animated is-centered fadeInDown is-vcentered">
        <span class="is-size-5">
            <span class="icon icon-btn-m"><i data-feather="info"></i></span>
            {{error_mssg_t_b}}
        </span>
        <br>
    </div>
</div>

<script>
        $(document).ready( function() {
            $('.snackbar').delay(3000).fadeOut();
          });
          $.ajax({
            type: "POST",
            url: "{{url_for('delete_session_mssg' , mssg = 'mssg_t_b')}}",
            
          }).done(function( o ) {
             console.log("session['mssg_t_b'] is empty")
          });
</script>
{% endif %}

{% endblock %}

{% block data_display %}data_display_b{% endblock %}
<!-- Data entry block -->
{% block form_xcontent %}
    <form action="{{url_for('transaction')}}" method="POST">
            {{form_comm.hidden_tag()}}
            <div class="field is-grouped is-grouped-multiline">
                <div class="select control" width="5rem">
                    {{form_comm.comm_channel}}    
                </div>
                <p class="control" width="5rem">{{form_comm.mssg_detail(class="input" , placeholder="Enter campaign message detail")}}</p>
                <p class="control" width="5rem">{{form_comm.date(class="input" , placeholder="Enter Date")}}</p>
                <div class="select control" width="5rem">
               {{form_comm.group()}}
                </div>
                </div>
    <br>
    <div class="field is-grouped is-grouped-multiline">
        <p class="control "><button class="button is-black"><i class="icon-btn" data-feather="plus-square"></i>Add Data</button></p>
        <p class="control"><a class="button is-black" onclick="showData_b()"><i class="icon-btn" data-feather="eye"></i>View Data</a></p>
    </div>
    </form>
{% endblock %}

{% block table_h_content%}
    <th>Communication</th>
    <th>Message</th>
    <th>Date</th>
    <th>Group</th>
    <th>Delete</th>
    <th>Edit</th>
{% endblock %}

{% block table_d_content %}
{% for l in commlist %}
<tr>
    <!-- Data Rows -->
    <td>{{l[1].channel}}</td>
    <td>{{l[0].mssg_detail}}</td>
    <td>{{l[0].date}}</td>
    <td>{{l[0].group[0].group}}</td>

    <td><a href="{{url_for('delete_data_comm_adv',item_id= l.id)}}">Delete</a></td>
    <td><a id="edit_button_t_a_{{loop.index}}">Edit</a></td>
    <!-- Edit data modal -->
    <div class="modal" id="modal-edit-contact_t_a_{{loop.index}}">
        <div class="modal-background"></div>
        <div class="modal-content">
            <div class="box">
            <!-- <form action="{{url_for('edit_data_invoice',item_id= l.id)}}" method="POST">
                <div class="form-name">
                    <p class="is-size-5 has-text-weight-bold">Edit data</p>
                    <br>
                    <p class="is-size-5"><span class="has-text-weight-bold">Current entry : </span>{{l.firm}}
                    </p><br>
                    <input class="input is-fullwidth" name="edit_input" , placeholder="Edit current data - {{l.firm}}">
                    <br>
                    
                    <button class="button is-black"><i class="icon-btn" data-feather="refresh-cw"></i>Update Data</button>
                </div>
            </form> -->
            </div>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <!-- End edit data modal -->
<script>
    document.querySelector('#edit_button_t_a_{{loop.index}}').addEventListener('click', function(event) {
        event.preventDefault();
        var modal = document.querySelector('#modal-edit-contact_t_a_{{loop.index}}');  // assuming you have only 1
        var html = document.querySelector('html');
        modal.classList.add('is-active');
        html.classList.add('is-clipped');
      
        modal.querySelector('.modal-close').addEventListener('click', function(e) {
            e.preventDefault();
            modal.classList.remove('is-active');
            html.classList.remove('is-clipped');
          });

        modal.querySelector('.modal-background').addEventListener('click', function(e) {
          e.preventDefault();
          modal.classList.remove('is-active');
          html.classList.remove('is-clipped');
        });
      });

    
</script>

    </tr>
{% endfor %}    

{% endblock %}
